<link rel="stylesheet" href="/static/requests.css">
{%extends 'base.html'%}
{%block navbar%}
<h2>Add a new request</h2>
<div class="request" >
    <form action="/add_requests" method="POST">
        <div>
            <input type="text" name="item" required autofocus placeholder="Item">
            <input type="number" name="item_quantity" required autofocus placeholder="quantity">
            <button>Add item</button>
        
        </div>
        <br>
        <div>Taking date <input type="date" name="taking_date" required autofocus placeholder="Taking date"></div>
        <br>
        <div>Returning date <input type="date" name="returning_date" required autofocus placeholder="Returning date"></div>
        <br>
        <div><input type="submit" value="send"></div>
    </form>
</div>
{%endblock%}



{%block footer%}
{%endblock%}
