{% extends 'base.html' %}

{% block navbar %}
<h2>Add a new request</h2>
<div class="request">
<link rel="stylesheet" href="/static/requests.css">
<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="category">Item Category</label>
                <select class="form-control" name="Category" id="category">
                    <option value="ropes">ropes</option>
                    <option value="descenders">Descenders</option>
                    <option value="descenders">Descenders</option>
                    <option value="rope clamps">Rope clamps</option>
                    <option value="safety">Safety</option>
                    <option value="Metals">Metals</option>
                    <option value="textile">Textile</option>
                    <option value="tripods">Tripods</option>
                    <option value="stretcher">Stretcher</option>
                    <option value="specials">Specials</option>
                </select>
            </div>

            <div class="form-group">
                <label for="item">Item Name</label>
                <select class="form-control" name="Item" id="category-item">
                    
                </select>
            </div>
        </form>
    </div>

    <script>
        const category = document.getElementById('category');
        const categoryItem = document.getElementById('category-item');

        category.addEventListener("change", async function () {
            let categoryValue = category.value;
            console.log(categoryValue);
            const data = await fetch(`/options/${categoryValue}`);
            const items = await data.json();
            console.log(items);

            categoryItem.innerHTML = '';
            items.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.innerText = item.name;
                categoryItem.appendChild(option);
            });
        });
    </script>

    <div>Taking date <input type="date" name="taking_date" required autofocus placeholder="Taking date"></div>
    <br>
    <div>Returning date <input type="date" name="returning_date" required autofocus placeholder="Returning date"></div>
    <br>
    <div><input type="submit" value="send"></div>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
</body>
