{%extends 'base.html'%}
{%block navbar%}
<link rel="stylesheet" href="/static/delete_user.css">
<h1>Delete user</h1>
<div class="delete_user">
    <form action="/admin/users_menu/delete" method="POST">
    <div><input type="text" name="username" required autofocus placeholder="Username"></div>
        <br>
        <div><input type="password" name="password" required autofocus placeholder="Password"></div>
        <br>
        <div id="button" onclick="myfunction()"><input type="submit" value="Delete!"></div>
    </form>
  </div>
    {% for user in users_table %}
      {% if deleted_user== user %}
        {{ message2 }}
      {% elif deleted_user== user %}
        {{ message2 }}
      {% endif %}
    {% endfor %}
{%endblock%}

<script>
  function myfunction(){
    const button=document.getElementById('button')
    users_table
  }

  
</script>


