<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="/static/register.css">
<title>Register</title>
<div class="container">
    <img src="/static/monkey.jpeg">
<h3 class="text-center">Gova Warehouse</h3></p>
<img src="/static/tgh.jpeg">
<hr>
</div>


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<form action="/register" method="POST">
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
    <input type="text" id="name" name="name" class="form-control" required autofocus placeholder="Full name">

    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>

    <input type="email" name="email" class="form-control" required autofocus placeholder="Email">

    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
      <input type="text" name="phone" class="form-control" required autofocus placeholder="Phone number">

    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="bi bi-person-plus-fill"></i> </span>
		</div>
		<select class="form-control">
			<option selected="">Select your team</option>
			<option name="team" value="monkeys">Monkeys</option>
			<option name="team" value="tgh">TGH</option>
			<option name="team" value="course">Course</option>
		</select>
	</div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    <input type="text" name="username" required autofocus placeholder="Create Username" class="form-control">
       
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
    <input type="password" name="password" required autofocus placeholder="Create password" class="form-control">  
    </div>                                       
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
    </div>       
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>
    <p class="text-center">Forgot your password? <a href="/forgot_password">Click here</a> </p>                                                               
</form>
</article>
</div> 

</div> 


<br><br><br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3"></h3>
<p class="h5 text-white"><a href="mailto:govawarehouse@gmail.com">click here</a> for support</p>
<br>

All rights saved to Eyal Yehiely 2023 (c)
</div>
</article>
  <link rel="stylesheet" href="/static/register.css">
</head>
<body>



