{%extends 'base.html'%}
{%block navbar%}
    <link rel="stylesheet" href="/static/updating_items.css">

    <h1>Update items form</h1>
    <button style="background-color:grey;"><a href="/items">return</a></button>
  
<div class="form">
  <form action="/admin/items/update" method="POST">
    <div><input type="text" name="mkt" required autofocus placeholder="Serial number"> </div>
    <br>
    <div><input type="number" name="quantity" required autofocus placeholder="Quantity" min="1"></div>
    <br>
    <div><input type="text" name="added_by" required autofocus placeholder="Added by"></div>
    <br>
    <div><input type="submit" value="Add!"></div>
  </form>


    {%if switch%}
    <div class="alert-success">
      item updated
    </div>
    {%else%}
    <div class="alert-danger">
      item doesn't exist
    </div>
</div>

{%endif%}
{%endblock%}
